/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full Viewport Height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Keep horizontal overflow hidden */
  overflow-y: auto;   /* Allow vertical scrolling */
}


/* Auth Container */
.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #4caf50, #81c784); Background gradient */
  position: relative;
}

/* Auth Form Styling */
.auth-form {
  width: 90%;
  max-width: 400px;
  /* height: auto; Auto height for better spacing */
  height: 90%;
  padding: 0px 20px;
  background-color: #ffffff;
  /* border-radius: 15px; */
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideIn 0.5s ease-out; /* Smooth slide-in animation */
}

/* Logo Section */
.auth-logo {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}


.logo-img {
  width: 190px;
  max-width: 200px; /* Make image responsive */
}

/* Form Heading */
.auth-form h3 {
  margin-bottom: 20px;
  margin-left: -150px;
  font-size: 24px;
  color: #03566f;
  font-weight: bold;
}

/* Form Label */
.form-label {
  font-size: 14px;
  color: #3e3d3d;
  width: 100%;
  text-align: left;
  font-weight: 100;

}

/* Input Fields */
.input-field {
  margin-top: 6px;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  color: #023443;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #4caf50; /* Highlighted border */
  outline: none;
}

/* Submit Button */
.auth-btn {
  width: 100%;
  background-color: #1b586a;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
  .auth-form {
    padding: 50px 30px; /* Add more padding for larger screens */
  }

  .logo-img {
    width: 150px; /* Larger logo on larger screens */
  }
}

/* Animation
@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
} */

.login-issue{
  margin-top: 40px;
}

.form-fill-link{
  margin-top: 14px;
  color: #03566f;
}
