.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .popup-image {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
  }
  